<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazinul CoffeeTeaRia ofer">
        <meta name="keywords" content="cafea, ceai, magazin, shop, coffee, tea, store, magazin online, cafenea, București, CoffeeTeaRia">
        <title>CoffeeTeaRia</title>
        <%- include("../Fragmente/head.ejs")  %>
        
    </head>

    <body>
        <%- include("../Fragmente/header.ejs")  %>
        <main>  
            <h2>Alta pagina</h2>
        </main>
    
        <%- include("../Fragmente/footer.ejs")  %>
    
    </body>
</html>