body {
  --inaltime-meniu: 45px;
  --latime-buton: 60%;
}

ul.meniu {
  display: none;
  opacity: 0;
}

#hamburger {
  display: block;
  margin: 0;
}
#hamburger > img {
  height: var(--inaltime-meniu);
  width: auto;
  display: block;
  margin: 0;
}

#ch-menu:checked + ul.meniu {
  display: block;
  animation: rotateMenu 1s forwards;
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg) translateZ(-100px);
    opacity: 0.2;
  }
  50% {
    transform: rotateX(45deg) translateZ(-100px);
    opacity: 0.6;
  }
  100% {
    transform: rotateX(0deg) translateZ(0px);
    opacity: 1;
  }
}