<footer>
    <div id="banner">
        <p>Acesta este un proiect scolar!</p>
    </div>
    <div id="watermark">
        <p>Vlaicu</p><p>Francesca</p>
    </div>
    <div class="back-to-top" id="my-back-to-top" title="Inapoi sus">
        <a href="#" style="text-decoration: none;">
          <span class="parentheses">(</span>
          <span class="triangle"></span>
          <span class="parentheses">)</span>
        </a>
      </div>              
    <a href="mailto:coffeetearia@cafea.ro"> Scrie-ne pe mail!</a><br>
    <a href="https://wa.me/0722000000">Scrie-ne pe WhatsApp!</a><br>
    <a href="tel:+40722000000"> Suna-ne! </a>
    <address>
        Strada Academiei nr. 1
    </address>
    <a href="https://goo.gl/maps/svZaJvjodCvoi2rh8">Vezi pe harta!</a><br>
    <small>Copyright &copy;<time datetime="2023-03-05">5 martie 2023</time></small>
</footer> 