<header class="header" id="h1">
    <span class="icon"><i class="fa-solid fa-mug-hot"></i></span>
    <h1 style="font-size: 60px;"> CoffeeTeaRia </h1>
</header>
     <!--meniu-->
     <nav>
        <label id="hamburger" for="ch-menu">
            <i class="fa-solid fa-bars fa-2x"></i>
        </label>        
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li><div id="acasa">Acasa</div><div id="acasa-mediu"><i class="fa-regular fa-house-heart"></i></div>
                <ul>
                    <li><a href="#despre-noi">Despre noi</a></li>
                    <li><a href="#promotii">Promotiile luni</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#cafeaua-casei">Cafeaua casei</a></li>
                    <li><a href="#program">Program</a></li>
                    <li><a href="#newsletter">Newsletter</a></li>
                </ul>
            </li>
            <li><a href="#cafea">Cafea</a>
                <ul>
                    <li><a href="#cafea-boabe">Cafea boabe</a></li>
                    <li><a href="#capsule">Capsule de cafea</a></li>
                    <li><a href="#accesorii">Accesorii</a></li>
                </ul>
            </li>
            <li><a href="#ceai">Ceai</a>
                <ul>
                    <li><a href="#negru">Ceai negru</a></li>
                    <li><a href="#verde">Ceai verde</a></li>
                    <li><a href="#infuzii">Infuzii</a></li>
                    <li><a href="#medicinal">Ceai medicinal</a></li>
                </ul>
            </li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
     </nav>